@mixin vertical-align {
  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}
