[class^="el-icon-"], [class*=" el-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'promoboxx-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-icon-upload:before {
    content: "\f21e"
}

.el-icon-error:before {
    content: "\f135"
}

.el-icon-success:before {
    content: "\f269"
}

.el-icon-warning:before {
    content: "\f1f1"
}

.el-icon-sort-down:before {
    content: "\f1cd"
}

.el-icon-sort-up:before {
    content: "\f1ce"
}

.el-icon-arrow-left:before {
    content: "\f2fa"
}

.el-icon-circle-plus:before {
    content: "\f276"
}

.el-icon-circle-plus-outline:before {
    content: "\f275"
}

.el-icon-arrow-down:before {
    content: "\f2f9"
}

.el-icon-arrow-right:before {
    content: "\f2fb"
}

.el-icon-arrow-up:before {
    content: "\f2fc"
}

.el-icon-back:before {
    content: "\f2ff"
}

.el-icon-circle-close:before {
    content: "\f135"
}

.el-icon-date:before {
    content: "\f332"
}

.el-icon-circle-close-outline:before {
    content: "\f134"
}

.el-icon-caret-left:before {
    content: "\f2f4"
}

.el-icon-caret-bottom:before {
    content: "\f2f2"
}

.el-icon-caret-top:before {
    content: "\f2f8"
}

.el-icon-caret-right:before {
    content: "\f2f6"
}

.el-icon-close:before {
    content: "\f136"
}

.el-icon-d-arrow-left:before {
    content: "\f3a0"
}

.el-icon-check:before {
    content: "\f26b"
}

.el-icon-delete:before {
    content: "\f154"
}

.el-icon-d-arrow-right:before {
    content: "\f39f"
}

.el-icon-document:before {
    content: "\e614" //missing equivalent
}

.el-icon-d-caret:before {
    content: "\f312"
}

.el-icon-edit-outline:before {
    content: "\e616" //missing equivalent
}

.el-icon-download:before {
    content: "\f220"
}

.el-icon-goods:before {
    content: "\e618" //missing equivalent
}

.el-icon-search:before {
    content: "\f1c3"
}

.el-icon-info:before {
    content: "\f1f8"
}

.el-icon-message:before {
    content: "\f15a"
}

.el-icon-edit:before {
    content: "\f158"
}

.el-icon-location:before {
    content: "\f1ab"
}

.el-icon-loading:before {
    content: "\f3ec"
}

.el-icon-location-outline:before {
    content: "\e61f" //missing equivalent
}

.el-icon-menu:before {
    content: "\f313"
}

.el-icon-minus:before {
    content: "\f273"
}

.el-icon-bell:before {
    content: "\f1fe"
}

.el-icon-mobile-phone:before {
    content: "\f2d4"
}

.el-icon-news:before {
    content: "\e625" //missing equivalent
}

.el-icon-more:before {
    content: "\f19c"
}

.el-icon-more-outline:before {
    content: "\e626" //missing equivalent
}

.el-icon-phone:before {
    content: "\f2be"
}

.el-icon-phone-outline:before {
    content: "\e628" //missing equivalent
}

.el-icon-picture:before {
    content: "\f17f"
}

.el-icon-picture-outline:before {
    content: "\f17e"
}

.el-icon-plus:before {
    content: "\f278"
}

.el-icon-printer:before {
    content: "\f1b0"
}

.el-icon-rank:before {
    content: "\e632" //missing equivalent
}

.el-icon-refresh:before {
    content: "\f1b9"
}

.el-icon-question:before {
    content: "\e634" //missing equivalent
}

.el-icon-remove:before {
    content: "\f271"
}

.el-icon-share:before {
    content: "\f35b"
}

.el-icon-star-on:before {
    content: "\f27d"
}

.el-icon-setting:before {
    content: "\f1c6"
}

.el-icon-circle-check:before {
    content: "\f269"
}

.el-icon-service:before {
    content: "\f29c"
}

.el-icon-sold-out:before {
    content: "\e63b" //missing equivalent
}

.el-icon-remove-outline:before {
    content: "\f270"
}

.el-icon-star-off:before {
    content: "\f27c"
}

.el-icon-circle-check-outline:before {
    content: "\e63e"
}

.el-icon-tickets:before {
    content: "\e63f" //missing equivalent
}

.el-icon-sort:before {
    content: "\e640" //missing equivalent
}

.el-icon-zoom-in:before {
    content: "\f1ee"
}

.el-icon-time:before {
    content: "\f337"
}

.el-icon-view:before {
    content: "\f15c"
}

.el-icon-upload2:before {
    content: "\f22a"
}

.el-icon-zoom-out:before {
    content: "\f1ef"
}

.el-icon-loading {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite
}

.el-icon--right {
    margin-left: 5px
}

.el-icon--left {
    margin-right: 5px
}

@-webkit-keyframes rotating {
  0% {
    @include transform(rotateZ(0));
  }
  100% {
    @include transform(rotateZ(360deg));
  }
}

@keyframes rotating {
  0% {
    @include transform(rotateZ(0));
  }
  100% {
    @include transform(rotateZ(360deg));
  }
}
